# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ECMS

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:
    inputs:
      target_branch:
        type: string
        default: develop
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: check git
      run: git branch
    - name: Restore dependencies
      working-directory: 8.4.0/aspnet-core
      run: dotnet restore
    - name: Build
      working-directory: 8.4.0/aspnet-core
      run: dotnet build ECMS.sln --no-restore
    - name: Publish .NET Artifact
      working-directory: 8.4.0/aspnet-core
      run: dotnet publish src/ECMS.Web.Host/ECMS.Web.Host.csproj -o ecms_build 
    - name: Upload Deployment Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ecms_build_artifact
        path: 8.4.0/aspnet-core/ecms_build
